html {
    height: 100%;
    overflow: hidden;
}

body {
    margin: 0px;
    height: 100%;
    padding: 0px;
    font-family: 'Lato', sans-serif;
    color: #efefef;
    background-image: url(./gradient-2.png);
}

#root {
    height: 100%;
}



/* ============== General Styling ============== */

.center{
    position: absolute; 
    top: 40%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.component-container {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
}

.left-align {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    justify-content: space-between;
    border-radius: 100px;
}

.game-container {
    display: flex;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(./gradient-2.png);
    background-position: 0% 0%;
    background-repeat: no-repeat;
    transition: background-position 0.5s;
    -webkit-transition: background-position 0.5s;
    z-index: 1;
}

.overlay-game-container {
  position: fixed;
  display: none;
  width: 80px;
  height: 80px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 2;
  cursor: pointer;
}

.full-screen {
    position: fixed;
    height: 100%;
    width:;
}

.button {
    position: relative;
    cursor: pointer;
    font-size: 18px;
    background-color: rgba(245, 245, 245, 0.2);
    line-height: 1;
    color: #efefef;
    margin: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px 25px;
    border-radius: 50px;
    text-decoration-line: none;
    transition: background-color 0.2s;
}

.button:hover{
    background-color: rgba(245, 245, 245, 0.4);
    color: white;
}

.title{
    font-size: 100px;
    color: white;
    margin: 20px;
    padding: 0px 7px;
    width: 202px;
    border-right-style: solid;
    border-right-color: #ccff00;
    border-right-width: 7px;
    overflow: hidden;
    opacity: 1;
    animation: typewriter 4s 1s normal infinite;
}

.title-box {
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 1;
    animation: title-disappear 4s 1s alternate infinite;
}

.title-container {
    position: relative;
    display: flex;
    width: 300px;
    align-items: center;
    justify-content: center;
    height: 250px;
}
.title-logo {
    position: fixed;
    display: flex;
    width: 200px;
    height: 200px;
    align-items: center;
    justify-content: center;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(./ghost_logo.png);
    opacity: 0;
    animation: logo-appear 4s 1s alternate infinite;
}

.scroll-background {
    animation: scrollbottom 2s forwards;
    -webkit-animation: scrollbottom 2s forwards;
}

.scroll-background-reverse {
    animation: scrolltop 2s forwards;
    -webkit-animation: scrolltop 2s forwards;
}

.vertical-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.horizontal-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.corner-placed {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0px;
    right: 0px;
    margin: 30px 40px;

}

@keyframes scrollbottom {
    from {background-position: 0% 0%;}
    to {background-position: 0% 100%;}
}

@keyframes scrolltop {
    to {background-position: 0% 0%;}
}

@keyframes typewriter {
  0% {width: 202px;}
  25% {width: auto;}
  100% {width: 202px;}
}

@keyframes logo-appear {
    0% {opacity: 0;}
    50% {opacity: 0;}
    100% {opacity: 1;}
}

@keyframes title-disappear {
    0% {opacity: 1;}
    25% {opacity: 1;}
    50% {opacity: 0;}
    100% {opacity: 0;}
}


/* ============== Rules Page ============== */

ol{
    margin: 5px;
}

li {
    margin: 10px 50px 0px;
}

h2{
    align-self: center;
}

.left-align {
    position: absolute;
    top: 12%;
    left: 50%;
    height: 200px;
    width: 750px;
    transform: translateY(-10%) translateX(-50%);
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    justify-content: space-between;
}



/* ============== How to Play Button ============== */

.rules-box {
}

.rule-button {
    width: 45px;
    height: 45px;
    border-radius: 50px;
    background-color: rgba(245, 245, 245, 0.2);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    margin: 0px 10px 0px 0px;
    font-weight: bold;
    font-size: 24px;
}

.rule-title {
    font-size: 18px;
}


/* ============== Login Page ============== */

.login-title-box{
    width: 300px;
}

.how-to-play-title {
    font-size: 36px;
    font-weight: bold;
    width: 600px;
    height: 65px;
    border-radius: 0px 0px 75px 75px;
    text-align: center;
    position: absolute;
    padding-top: 15px;
    top: 0%;
    right: 50%;
    transform: translateX(50%);
    transition: background-color 0.5s 0.5s, border-radius 0.5s 0.5s;
}

.how-to-play-title:hover {
    cursor: pointer;
    background-color: rgba(245, 245, 245, 0.2);
}

.how-to-play-title.open {
    transition: background-color 0.5s 0s, border-radius 0.5s 0.5s;
    background-color: rgba(245, 245, 245, 0.2);
    border-radius: 0px 0px 0px 0px;
}

.how-to-play-title.open:hover {
    background-color: rgba(245, 245, 245, 0.5);
    border-radius: 0px 0px 0px 0px;
}
/* ============== Navbar: General ============== */

.nav-background {
    background-color: rgba(27, 26, 53);
    width: 600px;
    height: 80px;
    border-radius: 0px 0px 75px 75px;
    position: absolute;
    top: 0%;
    right: 50%;
    transform: translateX(50%);
    display: flex;
}

.nav-container {
    animation: fade-in 0.5s;
    background-color: rgba(245, 245, 245, 0.2);
    width: 600px;
    height: 80px;
    border-radius: 0px 0px 75px 75px;
    position: absolute;
    top: 0%;
    right: 50%;
    transform: translateX(50%);
    display: flex;
    transition: height 0.5s 0.3s, background-color 0.5s 0.8s;
}

.nav-container.open {
    height: 700px;
    background-color: rgba(27, 26, 53);
    transition: height 0.5s 0.3s, background-color 0s 0s;
}

.nav-content {
    width: 600px;
    height: 540px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 80px;
    opacity: 0;
    visibility: hidden;
    transition: visibility 1s 0.5s, opacity 0.5s 0s;
}

.nav-content.open {
    transition: visibility 1s 0.7s, opacity 0.5s 0.7s;
    visibility: visible;
    opacity: 1;

}

.nav-close-bar {
    transition: visibility 1s 1s, opacity 0.5s 0s;
    background-color: rgba(245, 245, 245, 0.2);
    width: 600px;
    height: 80px;
    border-radius: 0px 0px 75px 75px;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0%;
    right: 50%;
    transform: translateX(50%);
    display: flex;
    transition: height 0.5s 0.3s;
    visibility: hidden;
    transition: visibility 1s, opacity 0.8s 0s;
    opacity: 0;
}

.nav-close-bar.open {
    transition: visibility 1s 0.5s, opacity 0.5s 0.5s;
    visibility: visible;
    opacity: 1;
}

.nav-close-bar.open:hover {
    transition: background-color 0.2s;
    cursor: pointer;
    background-color: rgba(245, 245, 245, 0.5);
}

.menu-horizontal {
    width: 55px;
    height: 55px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    filter: brightness(0.7);
    background-image: url(./hamburgermenu_horiz.png);
}

.icon-container {
    background-color: transparent;
    width: 600px;
    height: 80px;
    position: absolute;
    top: 0%;
    right: 50%;
    transform: translateX(50%);
    display: flex;
    transition: height 0.5s 0.3s, background-color 0s;
    align-items: center;
    justify-content: center;
    opacity: 1;
}

.icon-container.open {
    transition: background-color 0.5s 0.3s;
    opacity: 1;
    background-color: rgba(245, 245, 245, 0.2);
}

.icon {
    transition: filter 0.2s;
    background-size: 100% 100%;
    margin: 0px 55px;
    filter: brightness(0.7);
    width: 55px;
}

.icon:hover {
    cursor: pointer;
    filter: brightness(1);
}

.leader-button {
    height: 55px;
    background-image: url(./leader.png);
}

.prof-button {
    height: 55px;
    background-image: url(./profile.png);
}

.howto-button {
    height: 57px;
    background-image: url(./rules.png);
}

@keyframes fade-in {
    from {opacity: 0;}
    to {opacity: 1;}
}



/* ============== Loading ============== */

.loading {
    margin-top: 300px;
    font-size: 36px;
    animation-name: fade-in;
    animation-iteration-count: 5;
    animation-delay: 3s;
    animation-direction: alternate;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}

.vertical-content.login {
    margin-top: 50px;
    opacity: 0;
    animation-name: fade-in;
    animation-delay: 13s;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

.load-fail {
    font-size: 24px;
    margin-bottom: 30px;
}




/* ============== Navbar: Leaderboard ============== */

.winner-names {
    text-align: left;
    width: 400px;
    margin: 40px 0px 0px 40px;

}

.winner-scores {
    text-align: right;
    width: 120px;
    margin: 40px 40px 0px 0px;
}

.leader {
    font-size: 18px;
    color: #c3c3c3;
    margin: 10px;
}

.leader-top-three {
    font-size: 24px;
    font-weight: bold;
    margin: 10px;

}

.leaderboard-title {
    font-weight: bold;
    font-size: 36px;
}



/* ============== Navbar: Profile ============== */

.profile-icon {
    width: 175px;
    height: 175px;
    border-radius: 200px;
    background-color: rgba(27, 26, 53, 0.7);
    text-align: center;
    display: flex;
    font-size: 36px;
    align-items: center;
    justify-content: center;
    border: #efefef solid 10px;
    margin: 15px;
}

.stats-title {
    font-weight: bold;
    font-size: 30px;
}

.stats {
    font-size: 18px;
    margin: 5px;
    color: #c3c3c3;
}

.stats-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 5px 25px 10px;
}



/* ============== Navbar: Rules ============== */

.rule-component {
    color: #d1d1d1;
    font-size: 16px;
    padding: 10px;
    border-bottom-color: rgba(245, 245, 245, 0.2);
    border-bottom-width: 3px;
    border-bottom-style: solid;
    display: flex;
    flex-direction: column;
}

.rule-component.players {
    width: 90px;
    height: 100px;
    border-left-color: rgba(245, 245, 245, 0.2);
    border-left-width: 3px;
    border-left-style: solid;
    margin-top: 15px;
    align-items: center;

}

.rule-component.goal {
    width: 450px;
    height: 100px;
    border-bottom-color: rgba(245, 245, 245, 0.2);
    border-bottom-width: 3px;
    border-bottom-style: solid;
    margin-top: 15px;

}

.rule-component.strikes {
    width: 563px;
    height: 200px;
}

.rule-component.rounds {
    width: 563px;
    height: 100px;
}

.rule-component-letsplay {
    color: #d1d1d1;
    font-size: 16px;
    padding: 20px 0px 30px 0px;
}

.rule-component-title {
    color: #efefef;
    font-size: 24px;
    font-weight: bold;
    align-self: center;
    margin: 5px 0px 10px 0px;
}

.rule-component-content {
    margin: 5px;
}

.rule-component-content.italic {
    font-style: italic;
    margin: 0px 25px;
}



/* ============== Select Room Page ============== */

.select-title-box{
    width: 600px;
}

.join-box {
    position: relative;
}

.invalid-code {
    position: absolute;
    right: -85%;
    font-size: 18px;
    background-image: url(./invalid.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 125px;
    text-align: right;
}

.join-button {
    cursor: pointer;
    font-size: 18px;
    background-color: rgba(245, 245, 245, 0.2);
    color: #efefef;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 14px 20px 14px 10px;
    text-decoration-line: none;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    transition: background-color 0.2s;
}

.selectroom-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.join-button:hover {
    background-color: rgba(245, 245, 245, 0.4);
    color: white;
}

.input-box {
    margin: 10px 0px;
    width: 85px;
    display: flex;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    border-width: 0px;
    outline-width: 0;
    font-size: 16px;
    padding: 16px 10px;
    color: #1b1a35;
    background-color: #efefef;
    line-height: 1;
}



/* ============== Waiting Room ============== */

.waiting-code {
    font-size: 48px;
    font-weight: bold;
    margin: 5px 5px 20px 5px;
}

.waiting-text {
    font-size: 20px;
    margin: 5px 5px 10px 5px;
}

.one-player {
    animation: fade-in 1s alternate infinite;
}


/* ============== GAME: Players ============== */

.players-box {
    width: 8700px;
    height: 200px;
}

.player-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.player-bubble {
    width: 80px;
    height: 80px;
    border-radius: 100px;
    background-color: rgba(27, 26, 53, 0.7);
    margin: 0px 5px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: width 0.1s, height 0.1s;
    -webkit-transition: width 0.1s, height 0.1s;
}

.player-name {
    color: #efefef;
    width: 80px;
    height: 80px;
    border-radius: 100px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
}

.player-active {
    width: 105px;
    height: 105px;
}

.player-0 {
    border: #ccff00 solid 5px;
}

.player-1 {
    border: #40e0d0 solid 5px;
}

.player-2 {
    border: #ff00ce solid 5px;
}

.player-3 {
    border: #ff9900 solid 5px;
}



/* ============== GAME: Players ============== */

.dead-player {
    background-image: url(./ghost_logo.png);
    opacity: 0.5;
    width: 100px;
    height: 100px;
    align-content: center;
    justify-content: center;
    display: flex;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.dead-player-name {
    text-align: center;
    margin-top: 40px;
    color: #1b1a35;
    font-weight: bold;
    font-size: 16px;
}


/* ============== GAME: Letters ============== */

.letters-box {
    padding: 10px 30px;
}

.letters-active {
    font-size: 50px;
    color: white;
    padding: 10px 5px;
    margin: 50px;
    border-right-style: solid;
    border-right-width: 5px;
    height: 70px;
    opacity: 1;
}

.letters-fade {
    animation: fade-out 1s linear;
}

.press-any-letter {
    font-size: 30px;
    margin: 65px;
    padding: 10px 5px;
    font-weight: bold;
    text-align: center;
}

@keyframes fade-out {
   0% {opacity: 1;}
   100% {opacity: 0;} 
} 

/* ============== GAME: Type Bar ============== */


.type-bar {
    font-size: 100px;
    color: #ccff00;
    padding: 20px 0px;
}

.typing-player-0 {
    border-right-color: #ccff00;
}

.typing-player-1 {
    border-right-color: #40e0d0;
}

.typing-player-2 {
    border-right-color: #ff00ce;
}

.typing-player-3 {
    border-right-color: #ff9900;
}



/* ============== GAME: Timer ============== */

.timer-box {
    margin: 50px;
}

.timer-bar {
    display: flex;
    width: 400px;
    height: 15px;
    border-radius: 50px;
    background-color: transparent;
    margin: 10px;
    align-items: center;
    justify-content: left;
}

.timer-fill {
    width: 0px;
    height: 15px;
    border-radius: 50px;
    background-color: #ccff00;
    animation: timer 6.148s linear forwards;
    -webkit-animation: timer 6.148s linear forwards;
}

.timer-player-0 {
    background-color: #ccff00;
}

.timer-player-1 {
    background-color: #40e0d0;
}

.timer-player-2 {
    background-color: #ff00ce;
}

.timer-player-3 {
    background-color: #ff9900;
}

@keyframes timer {
    from {width: 0px;}
    to {width: 500px;}
}

@keyframes timer-reset {
    to {padding: 0px;}
}



/* ============== GAME: Strikes ============== */

.ghost-letters {
    font-size: 20px;
    height: 25px;
    width: 50px;
    text-align: center;
}

.ghost-player-0 {
    color: #ccff00;
}

.ghost-player-1 {
    color: #40e0d0;
}

.ghost-player-2 {
    color: #ff00ce;
}

.ghost-player-3 {
    color: #ff9900;
}

/* ============== End Game ============== */

.winner-container {
    display: flex;
    background-color: rgba(245, 245, 245, 0.2);
    border-radius: 55px;
    width: 220px;
    height: 250px;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    margin: 10px;
}

.winner-icon {
    width: 120px;
    height: 120px;
    border-radius: 100px;
    background-color: rgba(27, 26, 53);
    margin: 0px 5px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border: #efefef solid 5px;
    font-size: 24px;
    margin: 25px;
}

.winner-rank {
    font-weight: bold;
    font-size: 30px;
    margin: 30px 0px 5px 0px;

}

.loser-container {
    display: flex;
    border-radius: 55px;
    width: 200px;
    height: 250px;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    margin: 20px;
}

.loser-icon {
    background-image: url(./ghost_logo.png);
    width: 120px;
    height: 120px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 25px;


}

.loser-rank {
    font-weight: bold;
    font-size: 30px;
    color: #c3c3c3;
    margin: 30px 0px 5px 0px;

}

.loser-name {
    width: 65px;
    height: 65px;
    border-radius: 50px;
    color: #1b1a35;
    font-weight: bold;
    font-size: 14px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;

}

.home-icon {
    background-size: 100% 100%;
    margin: 7px 0px;
    filter: brightness(0.8);
    width: 55px;
    height: 55px;
    background-image: url(./home.png);
}



