html {
    height: 100%;
}

body {
    margin: 0;
    height: 100%;
    padding:0;
    font-family: 'Lato', sans-serif;
    background-image: url(./gradient_big.png);
    background-position: 0% 0%;
    background-repeat: no-repeat;
}

#root {
    height: 100%;
}

.center{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    text-align: center;
    color: #fff;
    display: flex;
    flex-direction: column;

}

.button {
    align-self: center;
    cursor: pointer;
    font-size: 30px;
    background-color: rgba(245, 245, 245, 0.3);
    line-height: 1;
    color: #f5f5f5;
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 40px;
    border-radius: 50px;
    text-decoration-line: none;
}

.button:hover{
    background-color: #3281ff;
    color: white;
}

.title{
    font-size: 100px;
    color: white;
    text-align: center;
    margin: 20px;
}

