
.rectangles {
    width:680px;
    height:310px;
    background:#efefef;
    background-color: rgba(245, 245, 245, 0.2);
    margin: 12px;
    display: flex;
    padding: 20px 30px;
    border-radius: 50px;
    text-align: center;
    flex-direction: column;
    align-content: flex-start;
    align-items: center; 
}

.loser-order {
	margin-left: 20px;
	margin-right: 20px;
	margin-top: 30px;
}


.loser-order.player {
	margin-left: 20px;
	margin-right: 20px;
	margin-top: 200px;
	margin-bottom: 20px;
}