
.rectangles {
    background:#efefef;
    background-color: rgba(245, 245, 245, 0.2);
    margin: 12px;
    display: flex;
    border-radius: 70px;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    padding: 25px;
}

.loser-order {
	margin-left: 20px;
	margin-right: 20px;
	margin-top: 30px;
}


.loser-order.player {
	margin-left: 20px;
	margin-right: 20px;
	margin-top: 200px;
	margin-bottom: 20px;
}

.end-title {
    font-size: 48px;
    padding-bottom: 20px;
}