
.rectangles {
    width:680px;
    height:310px;
    background:#efefef;
    background-color: rgba(245, 245, 245, 0.2);
    margin: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 30px;
    border-radius: 50px;
}

.loser-order {
	margin-left: 20px;
	margin-right: 20px;
	margin-top: 200px;
}