.letters-active {
/*    background-color: rgba(26, 19, 53, 0.3);*/
    font-size: 50px;
    text-align: right;
    color: white;
    padding: 20px 0px;
}

.type-bar {
/*    background-color: rgba(67, 66, 97, 0.3);*/
    font-size: 70px;
    color: #ccff00;
    text-align: center;
    padding: 20px 0px;
}



#timer-bar {
    width: 0px;
    height: 20px;
    border-radius: 50px;
    background-color: transparent;
    margin: 10px;
    border: #ccff00 solid 5px;
}

#timer-fill {
    width: 50%;
    height: 20px;
    border-radius: 50px;
    background-color: #ccff00;

}

.player {
    width: 70px;
    height: 70px;
    border-radius: 100px;
    background-color: #311b4a;
    margin: 5px;
    color: #efefef;
    text-align: center;
    display: flex;
    align-items: center;
}

.player-active {
    transition: width 0.5s, height 0.5s;
}

.player-bubble:hover {
    width: 100px;
    height: 100px;
}

.player-1 {
    border: #ccff00 solid 5px;
}

.player-2 {
    border: #40e0d0 solid 5px;
}

.player-3 {
    border: #ff00ce solid 5px;
}

.player-4 {
    border: #ff9900 solid 5px;
}

.component-container {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
}

.letters-box {
    padding: 10px 30px;

}

.timer-box {
/*    padding: 10px 20px;*/
    background-color: transparent;
    margin: 30px;
    position: relative;

}

.players-box {
    width: 500px;
    height: 150px;
    background-color: transparent;

}

.game-container {
    display: flex;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(./gradient_big.png);
    background-position: 0% 100%;
    background-repeat: no-repeat;

}

@keyframes blinkTextCursor{
    from{color: #40e0d0;}
    to{color: transparent;}
}

